body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f7f7f7;
}

h1.ui.header {
    line-height: 27px;
    margin: 0 auto;
}
.title-text {
    line-height: 30px;
}
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 100px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
    padding: 20px;
}

.page-wrapper {
    padding-top: 40px;
}

.item-list .ui.grid {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.ui.text.container {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.ui.container>.ui.header {
    border: 1px solid #d4d4d5;
    background: #fff;
    padding: 20px;
    position: fixed;
    top: 2px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 99;
}

.ui.container .ui.header a.button {
    margin-left: 40px;
}

.ui.grid>.column:not(.row) {
    padding: 1rem;
}

.row {
    background-color: #fff;
    margin-bottom: 15px;
    border: 1px solid #d4d4d5;
    box-shadow: 1px 1px 6px 0 rgb(236, 236, 236)
}

.logout {
    float: right;
}

.ui.card {
    width: 100%;
}

.topNavigation {
    margin-top: 3rem;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}